* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container-row {
    height: 400px;
    display: flex;
    background-color: grey;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}

.item-row {
    /* flex grow shrink basis */
    /* flex: 1 0 100px; */

    flex-basis: 100px;
    /* width: 100px; flex-basis and width are the same when using flex box */
    height: 100px;
    background: #254de4;
    margin: 10px;
    color: white;

    /* To style text  to the center*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-row:nth-of-type(1) {
    order: 2;
    flex-grow: 1;
    flex-shrink: 1;
}

.item-row:nth-of-type(2) {
    order: 1;
    flex-grow: 2;
    flex-shrink: 2;
}

.item-row:nth-of-type(3) {
    order: 3;
    flex-grow: 0;
    flex-shrink: 3;
}

/* .item-row:nth-of-type(1) {
    align-self: flex-start;
}

.item-row:nth-of-type(2) {
    align-self: center
}

.item-row:nth-of-type(3) {
    align-self: flex-end;
} */

/* 000000000000000000000000000000000000000000000000 */

.flex-container-column {
    margin-top: 10px;
    height: 400px;
    display: flex;
    background-color: grey;
    flex-direction: column;
    /* Always on the main axis */
    justify-content: end;
    /* Always on the cross axis */
    align-items: start;
}

.item-column {
    width: 100px;
    height: 100px;
    background: #254de4;
    margin: 10px;
    color: white;
}